<ion-app>
	<ion-menu menuId="main-menu" content-id="main">
		<ion-header>
		<ion-toolbar>
			<ion-title>
				PREDESTINATION IS IT TRUE? 

			</ion-title>
			
		</ion-toolbar>
	</ion-header>
		<ion-content>
			<ion-list>
				<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">PREDESTINATION</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item routerLink="/destinyone">
				<ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				  
				 <ion-label>Predestination</ion-label>	
				</ion-item>
			</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item routerLink="/destinyonetwo">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>Let us examine some basic truths</ion-label>	
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">FREEWILL</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>
				
				<ion-menu-toggle>
				<ion-item routerLink="/destinytwo">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>Freewill </ion-label>	
				</ion-item>
			</ion-menu-toggle>
			<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">WHY AM I HERE?</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>
			<ion-menu-toggle>
				<ion-item routerLink="/destinythree">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>Why am I here?</ion-label>	
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">THE GIFT</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>


			<ion-menu-toggle>
				<ion-item routerLink="/destinyfour">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>The Gift</ion-label>	
				</ion-item>
			</ion-menu-toggle>
			<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">DO NOT HARDEN YOUR HEART</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>


			<ion-menu-toggle>
				<ion-item routerLink="/destinyfive">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>Do not harden your heart</ion-label>	
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">THE PLACE OF PRAYER</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item routerLink="/destinysix">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>The Place of Prayer</ion-label>	
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item routerLink="/destinysixone">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>God enable me to will</ion-label>	
				</ion-item>
			</ion-menu-toggle>

			<ion-menu-toggle>
				<ion-item >
				  
				 <ion-label><h1 style="color: #061E38; font-weight: bolder;">FORE-KNOWLEDGE</h1></ion-label>	
				</ion-item>
			</ion-menu-toggle>
			<ion-menu-toggle>
				<ion-item routerLink="/destinysixone">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>Fore-knowledge</ion-label>	
				</ion-item>
			</ion-menu-toggle>
			<br>
			<br>
			<br>
			<br>
			<ion-menu-toggle>
				<ion-item routerLink="/about">
				 <ion-icon style="font-size:24px;color:#061E38;" name="chevron-forward-circle-outline" slot="start"></ion-icon>
				 <ion-label>About the developer</ion-label>	
				</ion-item>
			</ion-menu-toggle>
			 
			</ion-list>
		</ion-content>
	</ion-menu>
	 
	<ion-router-outlet id="main"></ion-router-outlet>
	 
</ion-app>
