<ion-header>
  <ion-toolbar style="background-color:#061E38; text-align: center;" color=" #061E38">
    <ion-title style="color: #FFFFFF;" color="#FFFFFF">DEDICATION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="contentone" style="padding: 10px;">
<p style="padding: 10px;">
  This book is dedicated to my blessed mother who has crowned me 
  with the diadem of responsibility. Mother, your resurrection is 
  imminent because Christ,the same yesterday, 
  today and forever is your resurrection and life.</p>
<div class = "footer">
     <ion-icon routerLink="/content" name="arrow-undo-circle" style="font-size:36px;color:#031f3d;margin-left:15%;"></ion-icon>  
       <ion-icon routerLink="/content" name="home" style="font-size:36px;margin-left:20%;color:#031f3d;"></ion-icon> 
       <ion-icon routerLink="/ack" name="arrow-redo-circle" style="font-size:36px;color:#031f3d;padding-top:20px;margin-left:20%;"></ion-icon> 
    </div>
</ion-content>
 
    
