<ion-app>
	<ion-header>
  <ion-toolbar style="background-color:#061E38; text-align: center;" color=" #061E38" >
    <ion-icon  [routerLink]="['/home']" style="color: #fff; font-size: 24px; font-weight: bold;" name="arrow-back" slot="start"></ion-icon>
    <ion-title style="color: #fff;">Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>
	<br> 
<ion-content class="content">
<!-- Item Dividers in a List -->
<ion-list>
  <ion-item-divider>
    <ion-label style="color: #061E38; font-weight: bold;" [routerLink]="['/dedication']">
      <h1>DEDICATION</h1>
    </ion-label>
  </ion-item-divider>
   
  <ion-item-divider>
    <ion-label style="color: #061E38; font-weight: bold;" [routerLink]="['/ack']">
      <h1>FOREWORD</h1>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label style="color: #061E38; font-weight: bold;" [routerLink]="['/forword']">
      <h1>ACKNOWLEDGMENT </h1>
    </ion-label>
  </ion-item-divider>


  <ion-item-divider>
    <ion-label style="color: #061E38;  font-weight: bold;" [routerLink]="['/destinyone']">   	 
      <h1>Chapter 1: POETIC CYMBALS </h1>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label style="color: #061E38;  font-weight: bold;" [routerLink]="['/destinytwo']">
      <h1>Chapter 2: AWAKEN YOUR MIND TO PEACE</h1>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label style="color: #061E38;  font-weight: bold;" [routerLink]="['/destinythree']">
      <h1>Chapter 3: THE PEACE LANGUAGE  </h1>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label style="color: #061E38;  font-weight: bold;" [routerLink]="['/destinyfour']">
      <h1>Chapter 4: THE BABAYLONIAN APPEARANCES OF YOUR ENEMY</h1>
    </ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label style="color: #061E38;  font-weight: bold;" [routerLink]="['/destinyfive']">
      <h1>Chapter 5: JOIN ME IN DEATH</h1>
    </ion-label>
  </ion-item-divider>

   
   
</ion-list>
</ion-content>
  
</ion-app>