<ion-header>
  <ion-toolbar style="background-color:#061E38; text-align: center;" color=" #061E38">
    <ion-title style="color: white;font-weight: bold;">POETIC CYMBALS</ion-title>
    <ion-buttons slot="start">
    	<ion-menu-button menu="main-menu">
    		
    	</ion-menu-button>

    	
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contentone" style="padding: 10px;">
  
  
  <div id="content">
    <div style="text-align: center;">
      <ion-icon (click)="speak()" style="color: green; font-size:35px; text-align: center; font-weight: bolder; text-align: center;margin-left:40%;" name="volume-medium-outline"></ion-icon>
      <ion-icon (click)="stop()" style="color: green; font-size:35px; text-align: center; font-weight: bolder; text-align: center;margin-left:40%;" name="stop-circle-outline"></ion-icon>
  
    </div>
<p style="padding: 10px;"></p>
 <p><i><b> “Peace dances in the streets, with her wares calling out to the simple to buy from her, only to sow tares.”
Peace Et</b></i></p>
<p>Peace is your enemy</p>
<p>Bringing her bounties with the touch of a soothing frenemy</p>
<p>Looking around, all you see is the abyss</p>
<p>Heart melted in grave disease</p>
<p>The balm of Gilead, restore the sick</p>
<p>Moses, Elijah and the last Eve, Peace</p>
<p>Seek the counsel of Him who is the bliss</p>
<p>The maker and giver of blessings with ease</p>
<p>There is no territory he hasn’t mastered in His recipes</p>
<p>Dare to climb His shoulders and experience His idea of masterpiece</p>
<p>Greater in design than the devil- Mephistopheles-</p>
<p>Man’s precious and impactful anopheles</p>
<p>Man is a wonder to behold causing green envy</p>
<p>Earthen-clad pieces used for His glory</p>
<p>Your wounds are your proofs of victory</p>
<p>Cracking the enemy’s melody</p>
<p>Releasing you from its wily ignominy</p>
<p>Meant to parade you to obscurity</p>
<p>Never fall for this pseudo-entity</p>
<p>The real peace is your key to knowing the wiles of your enemy</p>
<p>Knee to the level of seeking and you shall find in humility,</p>
<p>The only path many reject- because the peace their enemy gives is their only reality</p>
<p>Never be blinded by such dexterity</p>
<p>When your eye is whole, you give light its liberty</p>
<p>Where no darkness retains your captivity</p>
<p>Because you now know the brevity of its vanity.</p>
<p>Keep steadfastly the prosperity</p>
<p>Of knowledge, liberating your entirety.</p>
<p>You have but one life to enjoy that royalty-</p>
<p>To know that peace is your enemy,</p>
<p>A course unknown by even Udemy</p>
<p>Get the code cracked and see your mentality</p>
<p>Race for the true sanctity</p>
<p>Marked from all time to eternity.</p>






Cymbals threshing out dusts
 

</div>
<div class = "footer">
     <ion-icon routerLink="/content" name="arrow-undo-circle" style="font-size:36px;color:#031f3d;margin-left:15%;"></ion-icon>  
       <ion-icon routerLink="/content" name="home" style="font-size:36px;margin-left:20%;color:#031f3d;"></ion-icon> 
       <ion-icon routerLink="/ack" name="arrow-redo-circle" style="font-size:36px;color:#031f3d;padding-top:20px;margin-left:20%;"></ion-icon> 
    </div>
</ion-content>
 
    
