<ion-header>
  <ion-toolbar>
     
  </ion-toolbar>
</ion-header>

<ion-content class="homepage" >
 
 <br>
				<div id="banner-wrapper"  >
					<div id="banner" class="box container">
						<div class="row">
							<div class="7u 12u(medium)">
							  <div class="options_top">
								 
							  </div>
							</div>
							<div class="5u 12u(medium)"  style="color: white;">
							  
								<ul>
								   
									<button style="margin-top: 300px;" (click)="ContentPage()" class="button button-full">
									  Start Reading
									<ion-icon name="arrow-redo"></ion-icon></button>
									<button routerLink="/author" class="button button-dark button-outline">
									  About the book
									<ion-icon name="person"></ion-icon></button>
									<button (click)="shareFacebook()" class="button button-dark button-outline">
									  About the Author
									<ion-icon item-right name="share-social"></ion-icon></button>
								   
								</ul>
							</div>
						</div>
					</div>
				</div>

</ion-content>

